body {
    margin-left: auto;
    margin-right: auto;
    background-color: #cbcbd6;
}

a {
    text-decoration: none;
    color: darkgreen;
    font-family: Helvetica, sans-serif;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#reload, #text {
    color: darkgreen;
    text-align: center;
}

#images, {
    margin-left: auto;
    margin-right: auto;
}

.center {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 80%;*/
}