body {
    background-color: #cbcbcb;
    padding-bottom:20px;   /* Height of the footer */
}

a {
    text-decoration: none;
    color: darkgreen;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
}

#text {
    color: darkgreen;
    text-align: center;
    padding-top: 3%;
    padding-bottom:20px; 
}

#reload {
    color: darkgreen;
    text-align: center;
    position:static;
    bottom:0;
	left:0;
    
    height:50px;   /* Height of the footer */
    width: 100%;
/*    background-color: aquamarine;*/
}

#image, {
    text-align: center;
}

.loading {
    position: fixed;
    top: 25%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 1;
}
